
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #fce8f0;
    background: linear-gradient(to top, #fce8f0, #ffbdd0, #fce8f0);
    overflow: hidden;
    position: relative;
}

audio {
    display: none;
}

/* Hearts falling from the top */
.heart {
    --c: rgb(207, 60, 87);
    width: 40px;
    aspect-ratio: 1;
    background:
        radial-gradient(at 70% 31%, var(--c) 29%, #0000 30%),
        radial-gradient(at 30% 31%, var(--c) 29%, #0000 30%),
        linear-gradient(var(--c) 0 0) bottom/100% 50% no-repeat;
    clip-path: polygon(-43% 0, 50% 91%, 143% 0);
    position: absolute;
}

/* Styling for the fading hearts */
.fading-heart {
    --c: rgb(255, 170, 184);
    width: 30px;
    aspect-ratio: 1;
    background:
        radial-gradient(at 70% 31%, var(--c) 29%, #0000 30%),
        radial-gradient(at 30% 31%, var(--c) 29%, #0000 30%),
        linear-gradient(var(--c) 0 0) bottom/100% 50% no-repeat;
    width: 30px;
    aspect-ratio: 1;
    position: absolute;
    clip-path: polygon(-43% 0, 50% 91%, 143% 0);
    z-index: -10;
}

/* Container with buttons */
.container {
    display: flex;
    visibility: hidden;
}

/* YES and NO option buttons */
.option {
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    font-size: 150%;
    font-weight: 600;
    border: none;
    color: #7c1638;
    background-color: rgb(192, 82, 102);
    border-radius: 7px;
    transition: transform 0.5s;
    animation: none;
}

/* Make YES bigger on hover */
#yes:hover {
animation-name: scaleUp;
animation-duration: 0.3s;
animation-direction: reverse;
}

/* Make NO run away on hover */
#no.run-away {
    animation: runAwayAnimation 0.5s ease forwards;
    transform: translate(var(--dest-x), var(--dest-y));
}

#questionButton {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    scale: 1;
    background-color: rgb(192, 82, 102);
    color: rgb(247, 218, 218);
    color: 511345;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 9999;
}

/* Media query for small devices (phones) */
@media screen and (max-width: 600px) {
    .heart {
        width: 15px;
    }
    .fading-heart {
        width: 10px;
    }
    .option {
        font-size: 100%;
        text-align: center;
    }
}
